<div class="row">
<div class="col-md-4">
 
<p><b>&nbsp;&nbsp;WIFI: </b>{% if location.wifi %}{{ location.get_wifi_display }}{% else %}----{% endif %}</p>
<p><b>&nbsp;&nbsp;Seating: </b>{% if location.seating %}{{ location.get_seating_display }}{% else %}----{% endif %}</p>
<p><b>&nbsp;&nbsp;Outlets: </b>{% if location.outlets %}{{ location.get_outlets_display }}{% else %}----{% endif %}</p>
<p><b>&nbsp;&nbsp;Bathrooms: </b>{% if location.bathrooms %}{{ location.get_bathrooms_display }}{% else %}----{% endif %}</p>
</div>
<div class="col-md-4">
<p><b>&nbsp;&nbsp;Gym Type: </b>{% if location.gymtype %}{{ location.get_gymtype_display }}{% else %}----{% endif %}</p>
<p><b>&nbsp;&nbsp;ProShop: </b>{% if location.proshop %}{{ location.get_proshop_display }}{% else %}----{% endif %}</p>
<p><b>&nbsp;&nbsp;Outdoor Area: </b>{% if location.outdoor %}{{ location.get_outdoor_display }}{% else %}----{% endif %}</p>
<p><b>&nbsp;&nbsp;Food: </b>{% if location.food %}{{ location.get_food_display }}{% else %}----{% endif %}</p>
</div>
</div>