<div class="row">
<div class="col-md-4">
 
<p><b>WIFI: </b>{% if location.wifi %}{{ location.get_wifi_display }}{% else %}----{% endif %}</p>
<p><b>Seating: </b>{% if location.seating %}{{ location.get_seating_display }}{% else %}----{% endif %}</p>
<p><b>Outlets: </b>{% if location.outlets %}{{ location.get_outlets_display }}{% else %}----{% endif %}</p>
<p><b>Bathrooms: </b>{% if location.bathrooms %}{{ location.get_bathrooms_display }}{% else %}----{% endif %}</p>
</div>
<div class="col-md-4">
<p><b>Gym Type: </b>{% if location.gymtype %}{{ location.get_gymtype_display }}{% else %}----{% endif %}</p>
<p><b>ProShop: </b>{% if location.proshop %}{{ location.get_proshop_display }}{% else %}----{% endif %}</p>
<p><b>Outdoor Area: </b>{% if location.outdoor %}{{ location.get_outdoor_display }}{% else %}----{% endif %}</p>
<p><b>Food: </b>{% if location.food %}{{ location.get_food_display }}{% else %}----{% endif %}</p>
</div>
</div>